html {
    font-family: 'Verdana';
    background-color: black;
    color: white;
}

body {
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

.download-message {
    color: aquamarine;
    font-size: 16px;
}
.personal-travel-guide p {
    font-size: 21px;
    color: grey;
}

.personal-travel-guide, .discover-places {
    text-align: center;
    color: white;
}

footer p {
    text-align: right;
    color: grey;
    font-size: 21px;
}
